<div id='login' class="row">
  <form name='authForm' class="col s4" novalidate ng-submit='submit(user)'>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" ng-model='user.email' class="validate" required>
        <label for="email">Email@Address.com</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" ng-model='user.password' class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div ng-if='state === "register"' class="row">
      <div class="input-field col s12">
        <input id="password2" type="password" ng-model='user.password2' class="validate" required>
        <label for="password2">Confirm Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled='authForm.$invalid'>{{state | titlecase}}
	    <i class="material-icons right">send</i>
	  </button>
  </form>
</div>